@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-btn {
    @apply text-white font-bold font-body text-base px-4 py-2 rounded-lg 
    bg-primary hover:bg-transparent hover:border border-white
     focus:outline-none w-[157px] h-[56px] transition duration-500 ease-in-out mt-[36px];
  }

  .secondary-btn {
    @apply text-white font-bold font-body text-base px-4 py-2 rounded-lg bg-primary hover:bg-transparent hover:text-primary hover:border border-primary focus:outline-none w-[157px] h-[56px] transition duration-500 ease-in-out;
  }

  .links {
    @apply text-lg cursor-pointer font-bold tracking-wider transition-all duration-200 text-white md:text-primary;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    border-radius: 10px;
  }

  /* Track */
  .no-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .no-scrollbar::-webkit-scrollbar-thumb {
    background: #f1f1f9;
    border-radius: 10px;
  }

  /* Handle on hover */
  .no-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

:root {
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: "DM Sans", sans-serif;
}
